<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="customer">
          <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label>Cadastro</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="customer">
          <ion-icon name="file-tray-full-outline"></ion-icon>
            <ion-label>Sues Animais</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Agendamento</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="history-attendance">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Histórico</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>